@import './variables.scss';


.demo__container {
    margin-bottom: 100px;
}

.demo__card {
    margin: 70px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .flex-group-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
        
        img {
            width: 200px;
            border-radius: 50%;
            margin: 15px;
            background-color: white;
            box-shadow: $box-shadow-light;
        }

    }

    .demo__description {
        width: 325px;
        font-size: 22px;
        line-height: 1.5em;
        color: $title-dark;
        background-color: white;
        margin: 0 50px;

        padding: 18px 22px;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: $box-shadow-light;
    }

    .demo__gif {
        width: 250px;
        border-radius: 8px;
        margin: 0 50px;
        box-shadow: $box-shadow-light;
    }
}
