@import './variables.scss';


body {
    background-color: $background-color;
    font-family: $primary-font-stack;
}

.hidden {
    display: none;
}

.header {
    padding: 45px;
    font-size: 50px;
    font-family: $primary-font-stack;
    text-transform: uppercase;
    text-align: center;

    .light {
        color: white;
        // color: $title-light;
    }

    .dark {
        color: $title-dark;
    }
}