@import './variables.scss';


body {
    background-color: $background-color;
    font-family: $primary-font-stack;
    font-weight: 200
}

.hidden {
    display: none;
}

.header {
    padding: 45px;
    font-size: 50px;
    font-family: $primary-font-stack;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    
    .light {
        color: white;
        // color: $title-light;
    }
    
    .dark {
        color: $title-dark;
    }
}

.banner {
    color: $title-dark;
    text-shadow: 0 0 2px rgba(50, 50, 50, 0.4);
    padding-top: 100px;
    padding-bottom: 0;
    font-size: 50px;
    font-family: $primary-font-stack;
    text-transform: uppercase;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    line-height: 2em;
    letter-spacing: 2.5px;
}
