

/* ===== DYNAMIC LOGO STYLES ===== */
.loader__container {
    width: 450px;
    margin: 0 auto;
    position: relative;
}

.loader__dynamic-logo {
    width: 75%;
    height: 300px;
    position: relative;
    top: 150px;
    left: 12.5%;
    right: 12.5%;
}

.loader__building,
.loader__building img {
    width: 100%;
    position: relative;
    bottom: 125px;
    z-index: 5;
}

.loader__stars,
.loader__stars img {
    width: 84%;
    position: relative;
    left: 8%;
    right: 8%;
    z-index: 0;
}

.loader__whitespace {
    z-index: 2;
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 400px;

    background-color: rgb(235, 247, 255);
}





/* ===== PROPUBLICA LOGO STYLES ===== */
.propublica-center,
.propublica-footer {
    width: 75%;
    margin: 0 auto;
    align-items: center;

    z-index: 3;
}

.propublica-center {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 120px;
}


.propublica-center__text,
.propublica-footer__text {
    // width: 75%;
    font-family: 'Cinzel';
    font-size: 1.9em;
    text-align: center;
    color: #1761a0;
    padding-bottom: 5px;
}

.propublica-center img,
.propublica-footer img {
    width: 60%;
    border-radius: 0.3em;
}