
// FONTS
$primary-font-stack: 'Monserrat', sans-serif;
$secondary-font-stack: 'Cinzel', serif;


// FONT SIZES
$header-size: 50px;


// COLORS
$primary-color: #1761a0;
$primary-color-fade: #4e95d3;
$secondary-color: #ec4c4c;
$background-color: #ebf7ff;
$box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.5);

