
// FONTS
$primary-font-stack: 'Monserrat', sans-serif;
$secondary-font-stack: 'Cinzel', serif;


// FONT SIZES


// COLORS
$primary-color: #1761a0;
$primary-color-fade: #59a0df;
$middle-red: #ec4c4c;
$secondary-color: #eb2626;
$secondary-color-fade: #ff7373;

$title-dark: #272341;
$title-light: white;

$background-color: #ebf7ff;
$box-shadow: 0 0 16px 0 rgba(54, 54, 54, 0.4);
$box-shadow-light: 0 0 12px 0 rgba(131, 131, 131, 0.3);

