
// FONTS
$primary-font-stack: 'Monserrat', sans-serif;
$secondary-font-stack: 'Cinzel', serif;


// FONT SIZES


// COLORS
$primary-color: #1761a0;
$primary-color-fade: #4e95d3;
$secondary-color: #ec4c4c;

$title-dark: #272341;
$title-light: white;

$background-color: #ebf7ff;
$box-shadow: 0 0 16px 0 rgba(54, 54, 54, 0.4);

